- var logoViewPassword = require("../../images/tc/view-password.svg")
md-input-container.md-block.input-btn
  label(for="current-password-input") Password
  input#current-password-input(
    ng-model="vm.currentPassword",
    ng-model-options="{allowInvalid: true}",

    ng-focus="vm.onCPFocus($event)",
    ng-blur="vm.onCPBlur($event)",

    name="currentPassword",
    type="password",
    class="input input-btn",

    aria-label="password",
    aria-invalid="false",
    required)

  button.tc-btn.tc-btn-sm(type="button", id="toggleInputTypeBtn", tabIndex="0", ng-click="vm.toggleTypeAttribute()")
    img(src=logoViewPassword, alt="View Password")