- var logoViewPassword = require("../../images/tc/view-password.svg")

.input-btn
  input#password-input(
    ng-model="vm.password",
    ng-model-options="{allowInvalid: true}",
    
    ng-focus="vm.onFocus($event)",
    ng-blur="vm.onBlur($event)",

    name="password",
    type="password",

    ng-minlength="8",
    ng-maxlength="64",
    maxlength="64",
    has-letter,
    has-symbol-or-number,
    aria-describedby="tp-help-password", 
    aria-required="false",
    class="input input-btn {{ vm.hasPasswordError() ? 'error' : ''}}"
    required)

  button.tc-btn.tc-btn-sm.show-password-btn(type="button", id="toggleInputTypeBtn", tabIndex="0", ng-click="vm.toggleInputType()")
    img(src=logoViewPassword, alt="View Password")
