.input-btn
  input#password-input(
    ng-model="vm.password",
    ng-model-options="{allowInvalid: true}",
    
    ng-focus="vm.onFocus($event)",
    ng-blur="vm.onBlur($event)",

    name="password",
    type="password",
    placeholder="{{vm.placeholder}}",

    ng-minlength="8",
    ng-maxlength="64",
    maxlength="64",
    has-letter,
    has-symbol-or-number,
    aria-describedby="tp-help-password", 
    aria-required="false",
    class="input input-btn {{ vm.hasPasswordError() ? 'error' : ''}}"
    required)

  <button type="button" id="toggleInputTypeBtn" tabIndex="0"  class="tc-btn tc-btn-sm show-password-btn" ng-click="vm.toggleInputType()">{{ vm.toggleShowLabel }}</button>
