- var logoViewPassword = require("../../images/tc/view-password.svg")
.input-btn
  input#confirm-password-input(
    ng-model="vm.confirmPassword",
    ng-model-options="{allowInvalid: true}",

    ng-focus="vm.onCPFocus($event)",
    ng-blur="vm.onCPBlur($event)",

    name="confirmPassword",
    type="password",

    ng-minlength="8",
    ng-maxlength="64",
    maxlength="64",
    has-letter,
    has-symbol-or-number,
    aria-describedby="tp-help-password", 
    aria-required="false",
    class="input input-btn {{ vm.hasPasswordError() ? 'error' : ''}}"
    required,
    valid-confirm-password
    )

  button.tc-btn.tc-btn-sm.show-password-btn(type="button", id="toggleInputTypeBtn", tabIndex="0", ng-click="vm.toggleTypeAttribute()")
    img(src=logoViewPassword, alt="View Password")